/* GLOBAL */
/* HTML, BODY */
html {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
}
html,
body {
  font-size: 100%;
  width: 100%;
  margin: 0;
  /* background-image: linear-gradient(#f5fdff, #ffffff); */
}

.page-container {
  width: 86%;
  margin: 0 auto;
}

.navbar-container {
  width: 86%;
  padding: 0 7%;
}

.footer-container {
  width: 86%;
  padding: 3rem 7%;
}

/* a links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* background color global */
.bg-color-primary {
  background-color: white;
}

.bg-color-secondary {
  background-color: #f5fdff;
}

.bg-color-tertiary {
  background-color: #004c61;
}

.bg-transparent {
  background-color: transparent;
}

.bg-color-primary-button {
  background-color: #0088ad;
}

.bg-color-secondary-button {
  background-color: white;
}

/* border color global */
.border-color-secondary-button {
  border-color: #0088ad;
}

/* border radius global */
.border-radius-button-and-input {
  border-radius: 21px;
}

.border-radius-cta-container {
  border-radius: 21px;
}

/* border style global */
.border-color-input {
  border-color: #dfdfdf;
}

.border-style-none {
  border-style: none;
}

.border-style-solid {
  border-style: solid;
}

/* border width global */
.border-width-button-and-input {
  border-width: 1px;
}

/* box shadow global */
.box-shadow-button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* color global  */
.color-font-footer-copyright {
  color: #989898;
}

.color-font-primary {
  color: #1c1c1c;
}

.color-font-secondary {
  color: white;
}

.color-font-tertiary {
  color: #004c61;
}

.color-primary {
  color: #0088ad;
}

.color-secondary {
  color: #004c61;
}

/* cursor global */
.cursor-pointer {
  cursor: pointer;
}

/* display global */
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

/* flex global */
.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.just-cont-center {
  justify-content: center;
}

.just-cont-flex-end {
  justify-content: flex-end;
}

.just-cont-flex-start {
  justify-content: flex-start;
}

.just-cont-space-around {
  justify-content: space-around;
}

.just-cont-space-evenly {
  justify-content: space-evenly;
}

.just-cont-space-between {
  justify-content: space-between;
}

.just-items-baseline {
  justify-items: baseline;
}

.just-self-flex-start {
  justify-self: flex-start;
}

/* flex mobile global */
@media screen and (max-width: 425px) {
}

/* focus global */
input:focus {
  outline: thin dotted;
}

textarea:focus {
  outline: thin dotted;
}

button:focus {
  outline: thin dotted;
}

/* font families global */
.font-fam-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-fam-open-sans {
  font-family: "Open Sans", sans-serif;
}

/* font weight global */
.font-weight-n {
  font-weight: normal;
}

.font-weight-b {
  font-weight: bold;
}

/* height */
.height-auto {
  height: auto;
}

.height-90-vh {
  height: 90vh;
}

/* list style type global */
.list-style-type-none {
  list-style-type: none;
}

/* margins global*/
.margin-0 {
  margin: 0;
}

.margin-input {
  margin: 1rem 0;
}

.margin-top-regular {
  margin-top: 1rem;
}

.margin-bottom-regular {
  margin-bottom: 1rem;
}

.margin-left-regular {
  margin-left: 1rem;
}

.margin-right-regular {
  margin-right: 1rem;
}

/* padding global */
.padding-0 {
  padding: 0;
}

.padding-button-primary {
  padding: 0.75rem 1.5rem;
}

.padding-button-secondary {
  padding: 0.625rem 1.5rem;
}

/* text align global */
.text-align-center {
  text-align: center;
}

/* text area */
.textarea-overflow-none {
  overflow: auto;
}

.textarea-no-resize {
  resize: none;
}

/* width global */
.width-46-percent {
  width: 46%;
}

.width-50-percent {
  width: 50%;
}

.width-100-percent {
  width: 100%;
}

.width-benefits-container {
  width: 260px;
}

.width-benefits-img-container {
  width: 260px;
}

.width-cta-input {
  width: 233px;
}

/* *** SIZE XL *** */

/* FONTS XL */

/* font sizes XL */

.font-size-benefit-paragraph-xl {
  font-size: 1.125rem;
}

.font-size-footer-header-xl {
  font-size: 2.25rem;
}

.font-size-hero-paragraph-xl {
  font-size: 1.25rem;
}

.font-size-nav-header {
  font-size: 2.25rem;
}

.font-size-nav-link-xl {
  font-size: 1.125rem;
}

.font-size-page-not-found-header {
  font-size: 4rem;
}

.font-size-page-title-xl {
  font-size: 2.25rem;
}

.font-size-regular {
  font-size: 1rem;
}

/* HEIGHT */
.height-cta-textarea-xl {
  height: 156px;
}

/* LINE HEIGHT */
.line-height-benefits-paragraph-xl {
  line-height: 35px;
}

.line-height-cta-span-xl {
  line-height: 35px;
}

.line-height-footer-span-xl {
  line-height: 35px;
}

.line-height-hero-header {
  line-height: 88px;
}

.line-height-hero-paragraph-xl {
  line-height: 43px;
}

.line-height-privacy-policy {
  line-height: 35px;
}

/* MARGIN XL */
.margin-benefits-header-xl {
  margin: 0 0 0.5rem 0;
}

.margin-benefits-image-xl {
  margin: 0 0 1rem 0;
}

.margin-benefits-paragraph {
  margin: 0 0 1rem 0;
}

.margin-cta-list-container {
  margin: 0 0 3rem 0;
}

.margin-footer-inner-container {
  margin: 0 3rem 0 3rem;
}

.margin-footer-inner-container:first-child {
  margin: 0 3rem 0 0;
}

.margin-footer-inner-container:last-child {
  margin: 0 0 0 3rem;
}

.margin-form {
  margin: 1rem;
}

.margin-hero-header {
  margin: 0 0 2rem 0;
}

.margin-hero-paragraph {
  margin: 0 0 2rem 0;
}

.margin-input-inner-container {
  margin: 0 1rem 0 1rem;
}

.margin-textarea-inner-container {
  margin: 1rem;
}

.margin-nav-link-xl {
  margin: 0 1.5rem;
}

.margin-nav-link-xl:last-child {
  margin: 0 0 0 1.5rem;
}

.margin-page-not-found-header {
  margin: 0 0 1rem 0;
}

.margin-page-not-found-span {
  margin: 0 0 3rem 0;
}

.margin-section-xl {
  margin: 0 0 5rem 0;
}

.margin-section-header-xl {
  margin: 0 0 3rem 0;
}

/* PADDING */
.padding-cta-container-xl {
  padding: 2rem;
}

.padding-cta-list-item-xl {
  padding: 1rem 6rem 1rem 1rem;
}

.padding-cta-input-xl {
  padding: 0.75rem 1.5rem;
}

.padding-footer-container-xl {
  padding: 3rem;
}

/* WIDTH */
.width-cta-textarea-xl {
  width: 540px;
}

@media screen and (min-width: 768px) {
  .font-size-benefit-header {
    font-size: calc(24px + (28 - 24) * ((100vw - 768px) / (1920 - 768)));
  }
  .font-size-hero-header {
    font-size: calc(24px + (60 - 24) * ((100vw - 768px) / (1920 - 768)));
  }
  .font-size-section-header {
    font-size: calc(28px + (52 - 28) * ((100vw - 768px) / (1920 - 768)));
  }
}

/* SIZE M */
@media screen and (max-width: 768px) {
  .align-items-center-m {
    align-items: center;
  }

  .d-flex-m {
    display: flex;
  }

  .d-none-m {
    display: none;
  }

  .align-items-flex-start-m {
    align-items: flex-start;
  }

  .flex-direction-tablet-col {
    flex-direction: column;
  }

  .line-height-hero-header {
    line-height: 50px;
  }

  .margin-benefits-paragraph {
    margin: 0 0 3rem 0;
  }

  .margin-form {
    margin: 0;
  }

  .margin-footer-inner-container {
    margin: 0.5rem 0;
  }

  .margin-footer-inner-container:last-child {
    margin: 0.5rem 0 0 0;
  }

  .margin-hero-header {
    margin: 0 0 1rem 0;
  }

  .margin-hero-paragraph {
    margin: 0 0 1rem 0;
  }

  .margin-input-inner-container-m {
    margin: 0;
  }

  .text-align-center-m {
    text-align: center;
  }

  .width-benefits-container {
    width: 100%;
  }
}

/* CTA Element Rule */
@media screen and (max-width: 600px) {
  .cta-element-flex-direction {
    flex-direction: column;
  }
}

/* SIZE S */
@media screen and (max-width: 425px) {
  .align-items-flex-start-s {
    align-items: flex-start;
  }

  .align-self-strech-s {
    align-self: stretch;
  }

  .border-radius-cta-container-s {
    border-radius: 0px;
  }

  .flex-direction-mobile-col {
    flex-direction: column;
  }

  .font-size-hero-header-s {
    font-size: 2rem;
  }

  .font-size-hero-paragraph-s {
    font-size: 1.125rem;
  }

  .height-auto-s {
    height: auto;
  }

  .line-height-cta-list-item-s {
    line-height: 25px;
  }

  .line-height-cta-span-s {
    line-height: 35px;
  }

  .line-height-hero-paragraph-s {
    line-height: 40px;
  }

  .line-height-section-header-s {
    line-height: 46px;
  }

  .margin-benefits-paragraph {
    margin: 0 0 3rem 0;
  }

  .margin-cta-list-s {
    margin: 0 0 2rem 0;
  }

  .margin-cta-list-container-s {
    margin: 0 0 3rem 0;
  }

  .margin-footer-inner-container:last-child {
    margin: 1rem 0 3rem 0;
  }

  .margin-hero-image-container-s {
    margin: 2rem 0 1rem 0;
  }

  .margin-hero-header {
    margin: 2rem 0 1rem 0;
  }

  .margin-input-inner-container-s {
    margin: 0;
  }

  .padding-cta-list-item-s {
    padding: 1rem;
  }

  .padding-footer-container-s {
    padding: 1rem;
  }

  .text-align-left-s {
    text-align: left;
  }

  .width-cta-container-s {
    width: 100%;
  }

  .width-cta-input-s {
    width: calc(100% - 64px);
  }

  .width-cta-textarea-s {
    width: 100%;
  }

  .width-footer-container-s {
    width: 100%;
  }

  .width-hero-container-s {
    width: 100%;
  }

  .width-button-s {
    width: 100%;
  }
}
